.widget {
	margin: 0 0 1.5em;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	}
}

.widget-area {
	@include header-rainbow-colors;
}

#secondary .wp-block-group > * {
	margin-block-end: initial;
	margin-block-start: initial;
}
